*{
    box-sizing: border-box;
  }  
  body{
    margin:0;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  .v-header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    clear: both;
  }
  .container{
    max-width: 1280px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
  }
  .fullscreen-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }  
  /* .header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #225470;    
    opacity: 0.15;
  } */
  .header-content{
    z-index: 2;
  }
  .h-title{
    position: absolute;
    top: 25%;
    left: 17%;
    font-size: 3vw;
  }
  .h-link{
    position: absolute;
    top: 15%;
    left: 0;
    text-align: left;
    font-size: 5vw;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
  }
  .h-body{
    position: absolute;
    top: 24%;
    left: 34%;
    text-align: left;
    font-size: 3vw;
  }
  .section{
    padding: 20px 0;
    height: 100vh;
  }
  .section-about{
    padding-top: 0;
    padding-bottom: 0;
  }
  /* .section-about .container{
    height: 100vh;
  } */
  .section-about .about-banner{
    position: relative;
    top: 15px;
  }
  .about-banner img{
    width: 100%;
    padding: 0;
  }
  .bio{
    padding-top: 3rem;
    position: relative;
  }
  .bio h2{
    font-weight: bold;
    padding-top: 3rem;
    padding-bottom: 3rem;
    letter-spacing: 0.2em;
    color: #9D9D9C;
  }
  .bio-container{
    position: relative;
    width: fit-content;
    margin: 0 auto;
  }
  .bio-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: black;    
    opacity: 0.65;
  }
  .bio-container p{
    position: relative;
    display: inline-block;
    text-align: left;
    line-height: 160%;
    margin: 0px;
    z-index: 10;
  }
  .bio-video{
    position: absolute;
    height: 100vh;
    min-width: 100%;
  }
  .bio-video video{
    position: absolute;
    width: 100%;
    bottom: 1px;
    left: 0px;
    /* height: 45vh;
    object-fit: contain; */
  }
  .section-b{
    background: red;
    color:#fff
}
  .v-footer{
    position: absolute;
    min-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    clear: both;
  }
  .videoBg-footer{
    width: 100%;
    height: 100vh;
    object-fit: fill;
  }
  .contact-elements{
    display: inline-flex;
    height: 100vh;
  }
  .c-mail{
    position: absolute;
    top: 25%;
    left: 50vw;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(214, 16, 97, 1);
    padding: 4px;
    border-radius: 15px;
  }
  .buttons{
    position: absolute;
    top: 50%;
    left: 50vw;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .buttons a{
    display: inline;
  }
  .social-media{
    width: auto;
    height: 100%;
  }
  .flip3d{
    width: 60px;
    height: 60px;
    margin: 10px;
    float: left;
  }
  .flip3d .front{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    width: 60px;
    height: 60px;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
  }
  .flip3d .back{
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    width: 60px;
    height: 60px;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
  }
  .flip3d:hover .front{
    transform: perspective(600px) rotateY(-180deg);
  }
  .flip3d:hover .back{
    transform: perspective(600px) rotateY(0deg);
  }
  .cpr{
    position: absolute;
    bottom: -10px;
    left: 50vw;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(214, 16, 97, 1);
    padding: 4px;
    border-radius: 15px;
    font-size: 0.8rem;
  }


  @media(min-aspect-ratio: 16/9){
    .videoBg{
      width: 100%;
      height: auto;  
    }
}
  @media(max-aspect-ratio: 16/9){
    .videoBg{
        width: auto; 
    }
    /* .videoBg-footer{
        width: auto; 
    } */
}

  @media(max-width:768px){
    .h-title{
      top: 30%;
      left: 10%;
      font-size: 4.5vw;
    }
    .h-link{
      font-size: 6vw;
    }
    .h-body{
      top: 30%;
      font-size: 4.5vw;
    }
  }

  @media(max-width:1280px){
    .container{
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }