*{
    box-sizing: border-box;
  }  
  body{
    margin:0;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  body::-webkit-scrollbar {
    width: 0.2em;
  } 
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }  
  body::-webkit-scrollbar-thumb {
    background-color: rgba(214, 16, 97, 1);;
    outline: 1px solid rgba(214, 16, 97, 1);;
  }
  .v-header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    clear: both;
  }
  .container{
    max-width: 1280px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
  }
  .fullscreen-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }  
  /* .header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #225470;    
    opacity: 0.15;
  } */
  .header-content{
    z-index: 2;
  }
  .h-title{
    position: absolute;
    top: 25%;
    left: 17%;
    font-size: 3vw;
  }
  .h-link{
    position: absolute;
    top: 15%;
    left: 0;
    text-align: left;
    font-size: 5vw;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
  }
  .h-body{
    position: absolute;
    top: 24%;
    left: 34%;
    text-align: left;
    font-size: 3vw;
  }
  .section{
    position: relative;
    height: 100vh;
  }
  .section-about{
    padding-top: 0;
    padding-bottom: 0;
  }
  .section-about .about-banner{
    position: relative;
    top: 15px;
  }
  .about-banner img{
    width: 100%;
    padding: 0;
    padding-top: 5em;
  }
  .bio{
    padding-top: 3rem;
    position: relative;
  }
  .bio h2{
    font-weight: bold;
    padding-top: 3rem;
    padding-bottom: 3rem;
    letter-spacing: 0.2em;
    color: #9D9D9C;
  }
  .bio-container{
    position: relative;
    width: fit-content;
    margin: 0 auto;
  }
  .bio-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: black;    
    opacity: 0.65;
  }
  .bio-container p{
    position: relative;
    text-align: left;
    line-height: 160%;
    margin: 0px;
    z-index: 10;
  }
  .bio-video{
    position: absolute;
    height: 100vh;
    min-width: 100%;
  }
  .bio-video video{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0px;
  }
  .section-b{
    background: black;
    color:#fff;
    flex-direction: column;
    min-height: 100vh;
  }
  .gallery-title{
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

/* New masonry gallery start */
.gallery-item {
  margin-bottom: var(--gap);
}
.gallery-item iframe {
  max-width: 100%;
}
.gallery-item img {
  max-width: 100%;
  display: block;
}
.masonry-layout {
  --columns: 5;
  --gap: 0.6rem;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: var(--gap);
}
.masonry-layout .masonry-item {
  margin-bottom: var(--gap);
}

.masonry-layout.columns-1 {
  --columns: 1;
}
.masonry-layout.columns-2 {
  --columns: 2;
}
.masonry-layout.columns-3 {
  --columns: 3;
}
.masonry-layout.columns-4 {
  --columns: 4;
}
.masonry-layout.columns-5 {
  --columns: 5;
}

/* New masonry gallery end */

  /* LIGHTBOX CODE START */
.gallery-item a{
  display: block;
}
#lightbox {
  position:fixed; /* keeps the lightbox window in the current viewport */
  top:0; 
  left:0; 
  width:100%; 
  height:100%; 
  transition: opacity 450ms ease-in-out;
  /* background-color:rgba(0, 0, 0, 0.8); */
  text-align:center;
}
#lightbox-content {
  display: inline-flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.8);
}
#lightbox p {
  text-align:right; 
  color:#fff; 
  margin-right:20px; 
  font-size:12px; 
}
#lightbox img {
  box-shadow:0 0 25px #111;
  -webkit-box-shadow:0 0 25px #111;
  -moz-box-shadow:0 0 25px #111;
  max-width:940px;
}
#lightbox iframe {
  box-shadow:0 0 25px #111;
  -webkit-box-shadow:0 0 25px #111;
  -moz-box-shadow:0 0 25px #111;
  max-width:940px;
  width: 100%;
  height: 100%;
}
iframe{
  display: flex;
  align-items: center;
  justify-content: center;
}
iframe .ytp-show-cards-title{
  display: none !important;
}
  /* LIGHTBOX CODE END */

  #footer {
    width: 100%;
  }
  .v-footer{
    position: absolute;
    min-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    clear: both;
  }
  .fullscreen-footer-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .videoBg-footer{
    width: 100%;
    height: 100vh;
    object-fit: fill;
  }
  .contact-elements{
    display: inline-flex;
    height: 100vh;
  }
  .c-mail{
    position: absolute;
    top: 25%;
    left: 49.5vw;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 0.9em;
    background-color: rgba(214, 16, 97, 1);
    padding: 4px;
    border-radius: 15px;
  }
  .c-mail:hover{
    background-color: rgb(157,157,156);
    color: black;
    font-weight: bold;
  }
  .buttons{
    position: absolute;
    top: 50%;
    left: 49.5vw;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .buttons a{
    display: inline;
  }
  .social-media{
    width: auto;
    height: 100%;
  }
  .flip3d{
    width: 48px;
    height: 48px;
    margin: 10px;
    float: left;
  }
  .flip3d .front{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    width: 48px;
    height: 48px;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
  }
  .flip3d .back{
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    width: 48px;
    height: 48px;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
  }
  .flip3d:hover .front{
    transform: perspective(600px) rotateY(-180deg);
  }
  .flip3d:hover .back{
    transform: perspective(600px) rotateY(0deg);
  }
  .cpr{
    position: absolute;
    bottom: 5px;
    left: 49.5vw;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(214, 16, 97, 1);
    padding: 4px;
    border-radius: 15px;
    font-size: 0.75rem;
  }
  .cpr:hover{
    background-color: rgb(157,157,156);
    color: black;
    font-weight: bold;
  }


  @media(min-aspect-ratio: 16/9){ /* //Wide// */
    .videoBg{
      width: 100%;
      height: auto;  
    }
    .about-banner img{
      padding-top: 0;
      width: 70%;
    }
    .h-link{
      left: 0.4%;
    }
    .bio{
      padding-top: 2em;
    }
}
  @media(max-aspect-ratio: 16/9){ /* //Regular// */
    .videoBg{
        width: auto; 
    }
    .h-title{
      left: 16%;
    }
    .h-link{
      left: 0.5%;
    }
    .h-body{
      left: 32.8%;
    }
    .bio{
      padding-top: 5em;
    }
    .cpr{
      font-size: 0.7rem;
    }
}

  @media(max-width:768px){
    .h-title{
      top: 30%;
      left: 10%;
      font-size: 4.5vw;
    }
    .h-link{
      font-size: 6vw;
    }
    .h-body{
      top: 30%;
      font-size: 4.5vw;
    }
  }

  /* @media(max-width:1280px){
    .container{
      padding-left: 3rem;
      padding-right: 3rem;
    }
  } */